In [1]:
print("Welcome to India")

Welcome to India

In [4]:
name=input("What is your name?")

What is your name?Mike

In [5]:
print("How are you", name)

How are you Mike

In [4]:
print("Hello world")

Hello world

In [5]:
print("H")
print("H")
print("H")
print("H")
print("H")

H
H
H
H
H

In [6]:
print("H")
print("H")
print("HHHHHH")
print("H")
print("H")

H
H
HHHHHH
H
H

In [7]:
print("$")

$

In [8]:
print("$$")

$$

In [9]:
print("$"*50)

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [10]:
print("#")

#

In [11]:
print("#"*25)

#########################

In [12]:
x=10
y=15

In [13]:
z=x+y

In [14]:
print(z)

25

In [15]:
z=x-y

In [16]:
print(z)

-5

In [17]:
z=x*y

In [18]:
print(z)

150

In [19]:
z=x/y

In [20]:
print(z)

0.6666666666666666

In [1]:
color=input("Which is your favorite color")
print(color)

Which is your favorite colorWhite
White

In [ ]:
#Variables are the containers or pointers which can store strings,numbers or anything irrespective of size.

In [2]:
var1 = "India"

In [3]:
print(var1)

India

In [4]:
var2 = 10

In [5]:
print(var2)

10

In [1]:
var3=input("Whats your name?")
print(var3)

Whats your name?Jason
Jason

In [2]:
var4=input("Who is your favorite cricketer?")
print("My favorite cricketer is",var4)

Who is your favorite cricketer?Sachin Tendulkar
My favorite cricketer is Sachin Tendulkar

In [ ]:
#Conditions in using the python variables
#1. Variable names should never begin starting from numbers
#2.Python is case sensitive var1...var1...you cant use it like Var1
#3.var1=name

#### Typecasting in Python Programming

In [ ]:
#The process of converting one data type to other type is known as type casting

In [1]:
var1=input("What's your salary?")
print(var1)

What's your salary?500
500

In [2]:
print("My salary is ",var1)

My salary is  500

In [3]:
print("My salary in rupess is", var1*75)

My salary in rupess is 500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500500

In [4]:
var1 = int(var1)

In [5]:
print("My salary in terms of rupess is", var1*75)

My salary in terms of rupess is 37500

In [13]:
#Data types in python
#1.Integer
#2.Float
#3.String
#4.Boolean

In [ ]:
#1,2,3....n=Integer
#1.1,2.1,2.9,6.5.......=Float data type
#"Name",'India',"History","Python"=string data type str
#Boolean True - 1 False - 0

In [14]:
x = 10

In [15]:
type(x)

int

In [16]:
print(float(x))

10.0

In [17]:
y = 58.65874589

In [18]:
type(y)

float

In [19]:
print(int(y))

58

In [20]:
name = "History"

In [21]:
type(name)

str

In [22]:
name1 = 'National'

In [23]:
type(name1)

str

In [3]:
#Boolean

In [4]:
True and True

True

In [5]:
True and False

False

In [6]:
False and True

False

In [7]:
False and False

False

In [8]:
b = 5

In [9]:
print(bool(b))

True

In [10]:
h = 0

In [11]:
print(bool(h))

False

In [12]:
b = 0.1

In [13]:
print(bool(b))

True

In [39]:
x = 150.25

In [40]:
type(x)

float

In [41]:
print(int(x))

150

In [42]:
y = 145

In [43]:
print(float(y))

145.0

In [44]:
a= -10

In [45]:
print(bool(a))

True

In [23]:
string1=input("Which is your native place? ")
string2=input("Since how long you been staying there? ")

Which is your native place? India
Since how long you been staying there? 25 years

In [24]:
print("The native place of Pavan is",string1)

The native place of Pavan is India

In [25]:
print("Pavan is staying in India since",string2)

Pavan is staying in India since 25 years

In [27]:
print(string1+' '+string2)

India 25 years

In [28]:
print("The native place of Pavan is",string1,"and he stays there since",string2)

The native place of Pavan is India and he stays there since 25 years

In [29]:
print("I know programming languages like Python and Java")

I know programming languages like Python and Java

In [31]:
print("I know programming languages like:\nPython\nJava")

I know programming languages like:
Python
Java

In [1]:
#Indexing in python programming

In [2]:
#Indexing in Python begins with 0, -1 for backward indexing

In [3]:
string='Johnson'

In [4]:
len(string)

7

In [5]:
#Forward indexing
string[0]

'J'

In [6]:
string[3]

'n'

In [7]:
#backward indexing
string[-1]

'n'

In [8]:
#backward indexing
string[-3]

's'

In [7]:
movie = "Titanic is the film which got more than 10 oscar awards"

In [9]:
movie[0]
print(movie[0])

T

In [10]:
movie[0:7]

'Titanic'

In [11]:
print(movie[0:7])

Titanic

In [13]:
movie[8:19]

'is the film'

In [14]:
len(movie)

55

In [15]:
company="Google is one of the best IT giant"

In [16]:
print("Google" in company)

True

In [17]:
print("Apple" in company)

False

In [36]:
#Upper()

In [38]:
Indian_sports = "Sachin Tendulkar is one of the beSt SporTsmaN"

In [39]:
Indian_sports.upper()

'SACHIN TENDULKAR IS ONE OF THE BEST SPORTSMAN'

In [40]:
print(Indian_sports.upper())

SACHIN TENDULKAR IS ONE OF THE BEST SPORTSMAN

In [41]:
#Lower()

In [42]:
Indian_sports = "Sachin Tendulkar is one of the beSt SporTsmaN"

In [43]:
Indian_sports.lower()

'sachin tendulkar is one of the best sportsman'

In [44]:
print(Indian_sports.lower())

sachin tendulkar is one of the best sportsman

In [45]:
Indian_sports = "Sachin Tendulkar is one of the beSt SporTsmaN"

In [47]:
#Capitalize

In [48]:
Indian_sports.capitalize()

'Sachin tendulkar is one of the best sportsman'

In [50]:
best_place = "Bangalore is one the best place in India       "

In [51]:
best_place

'Bangalore is one the best place in India       '

In [52]:
best_place.rstrip()

'Bangalore is one the best place in India'

In [54]:
best_place = "     Bangalore is one the best place in India    "

In [55]:
best_place

'     Bangalore is one the best place in India'

In [56]:
best_place.lstrip()

'Bangalore is one the best place in India'

In [57]:
print(best_place.lstrip())

Bangalore is one the best place in India

In [58]:
best_place = "     Bangalore is one the best place in India    "

In [59]:
best_place

'     Bangalore is one the best place in India    '

In [60]:
best_place.strip()

'Bangalore is one the best place in India'