In [32]:
#shallow copy in python

In [33]:
A = [22,11,10,8,6,56,32]

In [34]:
B = A

In [35]:
B

[22, 11, 10, 8, 6, 56, 32]

In [36]:
B[2]=159

In [37]:
B

[22, 11, 159, 8, 6, 56, 32]

In [38]:
A

[22, 11, 159, 8, 6, 56, 32]

In [39]:
#shallow copy

In [40]:
A = [22,11,10,8,6,56,32]

In [41]:
B = A.copy()

In [42]:
B[2]= 555

In [43]:
print(B)

[22, 11, 555, 8, 6, 56, 32]

In [44]:
A

[22, 11, 10, 8, 6, 56, 32]

In [45]:
B=A.copy()

In [46]:
B=A[:]

In [48]:
A = [22,11,10,8,6,56,32]

In [52]:
A

[22, 11, 10, 8, 6, 56, 32]

In [49]:
B=A[:]

In [50]:
B[2]=666

In [51]:
print(B)

[22, 11, 666, 8, 6, 56, 32]

In [53]:
print(A)

[22, 11, 10, 8, 6, 56, 32]

In [1]:
#Tuples : Tuples are one of the built in data structures in python, tuples are the collection of ordered sequence of mixed items or mixed data types into a single variable

In [2]:
#tuples representation

In [3]:
tuples = (1,2,3,45,67,100)

In [4]:
tuples

(1, 2, 3, 45, 67, 100)

In [6]:
tuples_1 = 1,2,3,45,67,100

In [7]:
tuples_1

(1, 2, 3, 45, 67, 100)

In [8]:
type(tuples)

tuple

In [9]:
type(tuples_1)

tuple

In [10]:
tuples_2 = 1 #this is not a tuples

In [11]:
type(tuples_2)

int

In [12]:
tuples_2 = 1,

In [13]:
type(tuples_2)

tuple

In [14]:
tuple_index = (1,2,5,6,7,9,12,50)

In [16]:
tuple_index[3]

6

In [17]:
tuple_example = (22,33,45,56,89,100)

In [18]:
tuple_example[5]

100

In [19]:
tuple_example[-1]

100

In [20]:
#forward indexing and backward indexing in tuple is same as lists

In [ ]:
#lists =[1,2,3,4,5,6] #lists are mutable
#tuple are immutable

In [ ]:
#slicing of tuples

In [21]:
tuple_example = (22,33,45,56,89,100,123,144)

In [22]:
tuple_example[0:3]

(22, 33, 45)

In [23]:
tuple_example[0:8]

(22, 33, 45, 56, 89, 100, 123, 144)

In [24]:
tuple_example[1:8]

(33, 45, 56, 89, 100, 123, 144)

In [25]:
#tuples concatenation

In [26]:
tuple_1 = (22,33,44,55,66)

In [27]:
tuple_2 = (25,46,77,89,98)

In [28]:
tuple_final = tuple_1 + tuple_2

In [29]:
tuple_final

(22, 33, 44, 55, 66, 25, 46, 77, 89, 98)

In [ ]:
#min(), max(), sum()

In [31]:
pavan_tuple = (54,69,78,2,1,34,100)

In [32]:
min(pavan_tuple)

1

In [33]:
max(pavan_tuple)

100

In [34]:
sum(pavan_tuple)

338

In [35]:
tuple = (45,"Pavan",65,89,100,"Rocky","James","Sony")

In [36]:
tuple[1]

'Pavan'

In [37]:
tuple[1] = "John"

TypeError: 'tuple' object does not support item assignment

In [38]:
#Tuples are immutable

In [39]:
Lists = [45,"Pavan",65,89,100,"Rocky","James","Sony"]

In [40]:
Lists[1]

'Pavan'

In [41]:
Lists[1]= "John"

In [42]:
print(Lists)

[45, 'John', 65, 89, 100, 'Rocky', 'James', 'Sony']

In [ ]:
#lists are mutable and tuples are immutable