In [1]:
#1.Dictionaries are one of the 4 built in data structures in python
#2.Dictionaries consists of keys and its values
#3.Keys are the index and its values are accessed through its keys
#4.Dictionary keys are immutable and its values are mutable, immutable and it can also be duplicates
#5.Each key is followed by its value separated by colon
#6.Each key and its values are enclosed within curly brackets and those are separated by commas

In [2]:
d1 = {"Karnataka":"Bangalore","Tamilnadu":"Chennai","Kerala":"Trivandrum","Andhra":"Hyderabad"}

In [3]:
print(d1)

{'Karnataka': 'Bangalore', 'Tamilnadu': 'Chennai', 'Kerala': 'Trivandrum', 'Andhra': 'Hyderabad'}

In [4]:
d1["Karnataka"]

'Bangalore'

In [5]:
print(d1["Karnataka"])

Bangalore

In [6]:
d1["Karnataka"] = "Bengaluru"

In [7]:
d1["Karnataka"]

'Bengaluru'

In [8]:
#extract all the values of the dictionary

In [9]:
d1.values()

dict_values(['Bengaluru', 'Chennai', 'Trivandrum', 'Hyderabad'])

In [10]:
#extract all the keys of the dictionary

In [11]:
d1.keys()

dict_keys(['Karnataka', 'Tamilnadu', 'Kerala', 'Andhra'])

In [12]:
#sorting in dictionary

In [13]:
sorted(d1)

['Andhra', 'Karnataka', 'Kerala', 'Tamilnadu']

In [ ]:
#delete specific key from the dictionary

In [19]:
d1 = {"Karnataka":"Bangalore","Tamilnadu":"Chennai","Kerala":"Trivandrum","Andhra":"Hyderabad"}

In [20]:
del d1["Kerala"]

In [21]:
print(d1)

{'Karnataka': 'Bangalore', 'Tamilnadu': 'Chennai', 'Andhra': 'Hyderabad'}